<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties> <property name="dialect" value="mysql5" /> </properties> -->

	<mappers>
		<mapper resource="net/x_talker/web/sqlMapper/mysql/loginMapper.xml" />
		<mapper resource="net/x_talker/web/sqlMapper/mysql/userMapper.xml" />
		<mapper resource="net/x_talker/web/sqlMapper/mysql/logMapper.xml" />
	</mappers>
</configuration>